<html>

<head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% for (let index = 0; index < self.cssFiles.length; index++) { %>
        <link rel="stylesheet" type="text/css" href="/assets/css/<%-self.cssFiles[index]%>.css">        
    <% } %>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.io = io.connect();
    </script>
    <link rel="stylesheet" href="/assets/libs/sceditor/minified/themes/default.min.css" />
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open Sans">
    <script src="/assets/libs/sceditor/minified/sceditor.min.js"></script>
    <script src="/assets/libs/sceditor/minified/formats/bbcode.js"></script>
</head>

<body>
    <!-- <% if(typeof navigation === 'undefined' || navigation !== false) { %>
    <nav>
        <ul>
            <li><a href="<%=self.urlFor('pages', 'index')%>">Index</a></li>
            <li><a href="<%=self.urlFor('pages', 'imprint')%>">Impressum</a></li>
        </ul>
        <button id="logoutBtn" onclick="deleteCookie()">Logout</button>
    </nav>
    <% } // endif %> -->
    <%-body%>
    
    <% if(self.req.user) { %>
        <script>
            let currentUserId = <%-self.req.user.id%>;
            
            function deleteCookie() {
                document.cookie = '_wab_auth_jwt' + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                //self.redirect(self.urlFor('pages', 'signin'));
                window.location = "<%-self.urlFor('pages', 'signin')%>"; 
            }    
        </script>
    <% } %>

    <% for (let index = 0; index < self.jsFiles.length; index++) { %>
        <script src="/assets/js/<%-self.jsFiles[index]+(cfg.minify === true ? '.min' : '')%>.js"></script>    
    <% } %>
</body>

</html>