@import './shared/defines.less';
@import './shared/elements.less';
@import './shared/animations.less';
@import './shared/reset.less';

html{
    overflow-y: scroll;
}

.whitebox{
    background: white;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 30px 30px 30px 30px;

    .content{
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        line-height: 20px;
        display: inline-block;

        h1{
            font-size: 30;
            font-weight: bold;
        }
        h2{
            font-size: 20;
            font-weight: bold;
        }
        h3{
            font-size: 18;
            font-weight: bold;
        }
    }
}

