@import './shared/defines.less';
@import './shared/mixins.less';


textarea {
    border: none;
    border-color: transparent;
}

.scroll-wrapper {
    width: 100%;
    height: 100%;
    padding-right: 20px;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.overdue {
    color: @color-error;
}

.wrapper {
    .left-side {
        position: relative;
        width: @menu-width;
        height: 100vh;
        overflow: hidden;
        float: right;
        background-color: @color-menu-left;


        .menu-list {
            list-style: none;
            height: 88%;
            li {
                display: block;
                height: calc(@menu-width - 8px);
                width: calc(@menu-width - 8px);
                line-height: 27px;
                font-size: 12px;
                text-transform: uppercase;
                cursor: pointer;
                border-radius: 50%;
                overflow: hidden;
                background-color: @color-menu-item;
                text-align: center;
                box-sizing: border-box;
                padding: 4px;
                margin: 4px;
                font-weight: bold;
                color: @color-profile-intials;

                &#switch-project-btn {
                    background: url('@{imagePath}/projects.png');
                }

                &#settings-btn {
                    background: url('@{imagePath}/settings2.png');
                }
                
                &#btn-chat-all {
                    background: url('@{imagePath}/all-chat.png');
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .menu-bottom{
            // height: 30%;
            display: block;
            height: calc(@menu-width - 8px);
            width: calc(@menu-width - 8px);
            line-height: 27px;
            cursor: pointer;
            // overflow: hidden;
            text-align: center;
            box-sizing: border-box;
            margin: 5px;

            #logout-btn {
                background: url('@{imagePath}/leave.png');
                height: 36px;
                width: 36px;
                &:hover {
                    transition: background 400ms;
                    background: url('@{imagePath}/leave_red.png');
                }
            }
            #imprint-btn {
                background: url('@{imagePath}/imprint.png');
                height: 36px;
                width: 36px;
            }
            #privacy-btn {
                background: url('@{imagePath}/privacy.png');
                height: 36px;
                width: 36px;
            }
        }
    }

    .chat-wrapper {
        position: relative;
        width: @chat-width;
        height: 100vh;
        overflow: hidden;
        float: left;
        display: none;

        .topbar {
            .clearfix();
            height: @chat-topbar-height;
            width: 100%;
            background: @color-chat-topbar-bg;
            color: @color-chat-topbar-text;

            .title{
                align-self: center;
                width: calc(~"100% -@{chat-topbar-height}");
                height: 100%;
                float: left;
                line-height: @chat-topbar-height;
                padding-left: 10px;
                padding-right: 10px;
                box-sizing: border-box;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                overflow: hidden;
                text-overflow: ellipsis;
                color: white;
            }

            .close {
                position: absolute;
                right: 5px;
                color: white;
                align-self: center;
                width: @chat-topbar-height;
                height: @chat-topbar-height;
                float: right;
                border-radius: 30px;
                line-height: @chat-topbar-height;
                box-sizing: border-box;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                line-height: @chat-topbar-height;
                background-color: darken(@color-chat-topbar-bg, 20%);
                border:0.1px solid grey;
            }

        }
        .chat {
            position: relative;
            width: 100%;
            height: calc(~"100vh - @{chat-topbar-height}");
            .messages-wrapper {
                height: calc(~"100% - @{chat-input-height}");
                border-radius: 5px 5px 30px 30px;
                
        background-color: @color-chat-background;

                #messages {
                    div {
                        margin-top: 10px;
                        min-height: 20px;

                        .message-container {
                            background:transparent;
                            margin-left: 20px;
                            min-height: 100px;
                            
                            .message-text {
                            clear: both;
                            
                            width: 100%;
                            -webkit-overflow-scrolling: touch;
                        
                            display: inline-block;
                            word-wrap: break-word;
                            position:relative;
                            width:150px;
                            padding:10px 15px 20px;
                            margin:20px auto;
                            font:12px/1.2 Georgia, serif;
                            border-radius: 5px;
                            color:#fff;
                            background:#245991;
                            margin-bottom:40px;

                            .msgContent {
                                position: relative;
                                text-align: center;
                            }
                        
                            &.self {
                                &:after {
                                    content:"";
                                    position:absolute;
                                    top:100%;
                                    right:100px;
                                    border-width:15px 20px 0 0;
                                    border-style:solid;
                                    border-color:#245991 transparent;
                                }
                                .message-origin {
                                    left: 0%;
                                }
                            }
                        
                            &.other {
                                float: right;
                                &:after {
                                    content:"";
                                    position:absolute;
                                    top:100%;
                                    left:80px;
                                    border-width:0 20px 15px 0;
                                    border-style:solid;
                                    border-color:#245991 transparent;
                                    transform: rotate(180deg);
                                }
                        
                                .message-origin {
                                    right: 7%;
                                }
                            }
                        
                            .message-origin {
                              position: absolute;
                              bottom: -25px;
                              display: inline-block;
                                margin:1em 0 0;
                                font:10px/1.2 Arial, sans-serif;
                                color: black;
                            }
                        
                          }
                          
                        }
                    }
                }
            }

            .input-wrapper {
                textarea {
                    display: block;
                    height: @chat-input-height;
                    width: calc(~"100% - @{chat-input-height}");
                    float: left;
                    box-sizing: border-box;
                    background: #4a4e4d;
                    border-radius: 30px 30px 30px 30px;
                    padding: 10px 15px;
                    border: none;
                    resize: none;
                    font-family: inherit;
                    font-size: 14px;
                    color:white;
                    outline: none !important;
                    border:2px solid black;
                    box-shadow: 0 0 10px #4a4e4d;
                }

                button {
                    display: block;
                    height: @chat-input-height;
                    width: @chat-input-height;
                    float: left;
                    box-sizing: border-box;
                    border: none;
                    background-color: @color-chat-submit-bg;
                    color: @color-chat-submit-text;
                    font-weight: bold;
                    font-family: sans-serif;
                    border-radius: 30px 30px 30px 30px;
                    outline: none !important;
                    border:1px solid black;
                    box-shadow: 0 0 10px #4a4e4d;
                }
                .button:hover {
                    // background-color: #6db2d1;
                    background-color: lighten(@color-chat-submit-bg, -15%);
                    }

                .button:active {
                    opacity: 0.8;
                    box-shadow: 0 5px #666;
                    transform: translateY(4px);
                }
            }
        }
    }
}

    .right-side {
        position: relative;
        width: calc(~"100% - @{menu-width}");
        height: 100vh;
        overflow: hidden;
        float: left;
        .kanban-wrapper {
            .scroll-wrapper;
            overflow-x: auto;
            padding-bottom: 20px;

            .row {
                .clearfix();
                white-space: nowrap;

                &.tasks-wrapper {
                    height: calc(~"100% - @{kanban-add-height} - @{kanban-title-height}");
                    .col {
                        height: 100%;
                        overflow: hidden;
                    }
                }

                .col {
                    display: inline-block;
                    width: @kanban-col-width;
                    .title {
                        position: relative;
                        height: @kanban-title-height;
                        width: calc(~"100% - 10px");
                        box-sizing: border-box;
                        padding: 10px;
                        background: #e67e22;
                        border-left-color: #e67e22;
                        line-height: 24px;
                        font-size: 16px;
                        font-weight: bold;
                        color: white;
                        margin-right: 10px;

                        &:after {
                            content: " ";
                            height: 0px;
                            line-height: 0px;
                            width: 0px;
                            display: block;
                            position: absolute;
                            background: transparent;
                            color: transparent;
                            top: 0px;
                            left: 100%;
                            border-top: @kanban-title-height/2 solid;
                            border-top-color: transparent;
                            border-bottom: @kanban-title-height/2 solid;
                            border-bottom-color: transparent;
                            border-left: 10px solid;
                            border-left-color: inherit;
                            border-right: 0px;
                        }

                    }

                    .add {
                        position: relative;
                        height: @kanban-add-height;
                        width: 100%;
                        color: white;
                        text-align: center;
                        line-height: @kanban-add-height;
                        font-size: 32px;
                        font-weight: bold;
                        opacity: 0.6;

                        &:hover {
                            opacity: 1;
                        }

                    }

                    .tasks {
                        .scroll-wrapper;

                        .task-placeholder {
                            margin-bottom: 5px;
                        }
                        .task {
                            margin-bottom: 10px;
                            background: rgba(255, 255, 255, 0.8);

                            .line {
                                height: 4px;
                                background: #e67e22;
                            }

                            .name {
                                font-size: 14px;
                                line-height: 18px;
                                font-weight: bold;
                                color: black;
                                white-space: normal;
                                padding: 5px; 
                            }

                            .time {
                                font-size: 14px;
                                padding: 5px;
                            }

                            .footer {
                                .clearfix();
                                font-size: 12px;
                                .assigned {
                                    padding: 5px;
                                    float: left;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    max-width: 60%;
                                    box-sizing: border-box;
                                }
                                .deadline {
                                    padding: 5px;
                                    float: right;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    max-width: 40%;
                                    box-sizing: border-box;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.chat-open {
        .chat-wrapper{
            display: block;
        }

        .right-side {
            width: calc(~"100vw - @{menu-width} - @{chat-width}");
        }
    }

.slide-in-popover{
    position: absolute;
    top: 0px;
    left: 100%;
    height: 100vh;
    width: 100%;
    overflow: hidden;


    .background{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.0);
        transition: background 300ms;
    }
    

    .content-wrapper {
        position: absolute;
        top: 0px;
        right: -500px - @task-details-topbar-height;
        height: 100%;
        max-width: 600px;
        width: 90%;
        background: @color-task-details-bg;
        transition: right @slide-in-open-duration;


        &:after {
            content: "X";
            position: absolute;
            top: 0;
            left: -@task-details-topbar-height/1.4;
            width: @task-details-topbar-height;
            height: @task-details-topbar-height;
            background: @color-task-details-topbar-bg;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            overflow: hidden;
            color: @color-task-details-topbar-text;
            line-height: @task-details-topbar-height;
            text-align: center;
            font-size: 24px;
            cursor: pointer;
            pointer-events: none;
        }

        .top-bar, .top-bar-add {
            background: @color-task-details-topbar-bg;
            color: @color-task-details-topbar-text;
            height: @task-details-topbar-height;
            line-height: @task-details-topbar-height;
            padding-left: 15px;
            padding-right: 15px;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .deadline-wrapper {
            [type="date"] {
                background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
              }
              [type="date"]::-webkit-inner-spin-button {
                display: none;
              }
              [type="date"]::-webkit-calendar-picker-indicator {
                opacity: 0;
              }
        }

        .bottom-bar, .bottom-bar-add {
            background: @color-task-details-bottombar-bg;
            color: @color-task-details-bottombar-text;
            height: @task-details-bottombar-height;

            button {
                width: 100%;
                height: 100%;
                border: none;
                background: @color-task-details-bottombar-bg;
                color: @color-task-details-bottombar-text;
                font-weight: bold;
                &:hover{
                    background: lighten(@color-task-details-bottombar-bg, 20%);
                }
            }
        }

        .content, .content-add {
            .scroll-wrapper;
            width: calc(~"100% + 20px");
            height: calc(~"100% - @{task-details-topbar-height} - @{task-details-bottombar-height}");
            font-size: 16px;

            .assigned-to-wrapper {
                margin-left: 10%;
            }
            .deadline-wrapper {
                margin-left: 10%;
            }
        }

        .task-title {
            padding: 15px;
            font-weight:  bold;
        }

        .task-infos {
            width: 100%;
            .row {
                background: @color-task-details-highlight-bg;
                .clearfix();
                
                .col-4 {
                    box-sizing: border-box;
                    padding: 15px 15px;

                    @media screen and (min-width: 820px) {
                        width: 100% / 12 * 4;
                        float: left;
                    }

                    .label {
                        margin-bottom: 10px;
                        font-size: 0.8em;
                    }
                    
                    .text {
                        font-weight: bold;
                    }

                }

                .assigned-to-change {
                    display: none;
                }
            }
            
            
            .row-1 {
                margin-top: 20px;
                background: @color-task-details-highlight-bg;
                padding: 15px 15px;
                
                .label {
                    margin-bottom: 10px;
                    font-size: 1.0em;
                }
                
                .deadline {
                    font-size: 1.2em;
                    padding: 10px 0;
                    font-weight: bold;
                    position: relative;
                    box-sizing: border-box;
                    left: 36%;
                }
            }

        }
        .description, .description-add{
            padding: 15px;
            width: 95%;
            height: 100%;
            margin: auto;
        }
    }

    &[data-open="1"], &[data-open="true"] {
        left: 0px;
        .background{
            background:rgba(0, 0, 0, 0.0);
        }

        .content-wrapper {
            right: 0px;
        }
    }
    &[data-open="0"], &[data-open="false"] {
        transition: @slide-in-close-duration;
        .background{
            background:rgba(0, 0, 0, 0.0);
        }

        .content-wrapper {
            right: -500px - @task-details-topbar-height;
        }
    }
}

.change-deadline {
    display: none;

    div.deadline-change {
        margin-right: 5%;
    }
}

input, select {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 150px;
  }