@import './shared/defines.less';
@import './shared/elements.less';
@import './shared/animations.less';
@import './shared/reset.less';


body {
  background: @color-default-bg url('@{imagePath}/bg_test4.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

    font-family: Arial, Helvetica, sans-serif;

    overflow: hidden;
}

b, strong {
    font-weight: bold;
}

i {
    font-weight: italic;
}