@import './shared/defines.less';

.scroll-wrapper {
    width: 100%;
    line-height: 120%;
    padding-right: 20px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.projects-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 300px;
}

.project {
    .project-button {
    width: 100%;
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: @projects-animation-text-color;
    font-weight: 700;
    font-size: 18px;
    background-color: #222;
    padding: 17px 60px;
    margin: 30px auto;
    line-height: 1.9;
}
  
  .project-button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .project-button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
}

