@import './shared/defines.less';

.signin-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .input-wrapper {
        width: 220px;
        margin: 4px;

        input {
            width: 220px;

            &.top {
                background: url('@{imagePath}/input-login-top.svg') no-repeat;
            }

            &.bottom {
                background: url('@{imagePath}/input-login-bottom.svg') no-repeat;
            }
        }
    }

    button {
        position: absolute;
        display: block;
        width: 37px;
        height: 37px;
        background: @color-main url('@{imagePath}/icon-lock-closed.svg') no-repeat;
        background-size: 21px 21px;
        background-position: center center;
        left: 95%;
        top: 25px;
        box-sizing: border-box;
        border-radius: 4px;
        border: none;
        cursor: pointer;

        &:active, &.active {
            animation: bounce-right 0.82s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
            border: none;
        }

        &.fine {
            background-color: @color-fine;
            background-image: url('@{imagePath}/icon-lock-open.svg');
        }

        &.error {
            background-color: @color-error;
        }
    }

}