@imagePath: '/assets/images';

// color defines
@color-default-bg: #232323;
@color-input-bg: #F0F0F0;

@color-main: #26BFBB;
@color-warning: #F3CF0A;
@color-error: #C13F18;
@color-fine: #17B859;

@color-menu-item: #6A6A6A;
@color-chat-topbar-bg: #1e1f26;
@color-chat-topbar-text: #000000;
@color-chat-submit-bg: #81d4fa;
@color-chat-submit-text: #000000;
@color-chat-background: #79B3D2;
@color-menu-left: #182527;

@color-task-details-topbar-bg: #26bfba;
@color-task-details-topbar-text: #FFFFFF;

@color-task-details-bottombar-bg: #26bfba;
@color-task-details-bottombar-text: #FFFFFF;

@color-task-details-bg: #FFFFFF;
@color-task-details-highlight-bg: #c8d6e5;

@color-profile-intials: white;

// width defines
@menu-width: 44px;
@chat-width: 400px;
@chat-topbar-height: @menu-width;
@chat-input-height: 80px;
@kanban-col-width: 240px;
@kanban-title-height: @menu-width;
@kanban-add-height: 37px;

@task-details-topbar-height: @menu-width;
@task-details-bottombar-height: @menu-width;

// project defines

@projects-animation-color: #78c7d2;
@projects-animation-text-color: #FFFFFF;

// slidein

@slide-in-open-duration: 1000ms;
@slide-in-close-duration: 3000ms;