@import 'defines.less';

.input-wrapper {
    display: block;
    height: 37px;
    width: 100%;

    input {
        display: block;
        height: 100%;
        width: 100%;
        background: @color-input-bg;

        border: none;
        border-radius: 4px;
        padding: 6px;
        box-sizing: border-pox;
    }
}