<div class="wrapper chat-open" id="main-wrapper" project-id="<%-self.param('id')%>">
    <div class="left-side">
        <div class="scroll-wrapper">
            <ul class="menu-list">
                <li id="switch-project-btn"></li>
                <li id="settings-btn"></li>
                <li id="btn-chat-all" class="chat-button" data-id="0" data-fullname="All" data-new="0"
                    onClick="userPressed(this); return false;"></li>
                <% for(let index=0; index < users.length; ++index) { %>
                <%
                        //exclude the current user
                        if(self.req.user.id === users[index].id || (users[index].firstName === 'deleted' && users[index].lastName === 'user'))
                        {
                            continue;
                        }
                    %>
                <li id="btn-chat-<%=users[index].id%>" class="chat-button" onclick="userPressed(this); return false;"
                    data-id="<%=users[index].id%>" data-fullname="<%=users[index].shortName()%>" data-completename="<%=users[index].fullname()%>" data-new="0">
                    <%=users[index].shortName()%></li>
                <% } //endfor %>
            </ul>
            <ul class="menu-bottom">
                <li id="imprint-btn" onclick="location.href='/imprint';"></li>
                <li id="privacy-btn" onclick="location.href='/privacy';"></li>
                <li id="logout-btn"></li>
            </ul>
        </div>

    </div>
    <div class="chat-wrapper">
        <div class="topbar">
            <div class="title" id="chat-title">
                Chat
            </div>
            <div class="close" id="close-btn">
                X
            </div>
        </div>
        <div class="chat">
            <!--  <p class="bubble speech">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quos</p> -->
            <div class="messages-wrapper">
                <div class="scroll-wrapper" id="messages" data-action="<%-self.urlFor('api/messages', 'index')%>">
                    
                </div>
            </div>
            <div class="input-wrapper">
                <textarea id="message"></textarea>
                <button id="send-message" class="button" onclick="sendPressed(this); return false;">send</button>
                
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="kanban-wrapper">
            <div class="row">
                <% 
                    for (let index = 0; index < workflows.length; index++) { 
                    const workflow = workflows[index];
                %><div class="col">
                    <div class="title" style="background: <%-workflow.color%>; border-left-color: <%-workflow.color%>;">
                        <%=workflow.name%>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="row">
                <% 
                    for (let index = 0; index < workflows.length; index++) { 
                    const workflow = workflows[index];
                %><div class="col">
                    <div class="add" workflow-id="<%-workflow.id%>">
                        +
                    </div>
                </div>
                <% } %>
            </div>
            <div class="row tasks-wrapper">
                <% 
                    for (let index = 0; index < workflows.length; index++) { 
                    const workflow = workflows[index];
                %><div class="col">
                    <div class="tasks" data-workflow-id="<%-workflow.id%>" data-workflow-color="<%-workflow.color%>">
                        <% if (workflowTasks[workflow.id] instanceof Array) { %>
                        <% for (let i = 0; i < workflowTasks[workflow.id].length; i++) { %>
                        <% const task = workflowTasks[workflow.id][i]; %>
                        <div class="task" data-id="<%-task.id%>">
                            <div class="line" style="background: <%-workflow.color%>;">

                            </div>
                            <div class="name">
                                #<%=task.id%> <%=task.name%>
                            </div>
                            <div class="time">
                                <div class="time-left">
                                    <% if (task.deadline > Date.now()) { %>
                                    <label class="label">Time left:</label>

                                    <%=Math.floor((task.deadline - Date.now()) / (86400000))%>d  
                                    <%=Math.floor(((task.deadline - Date.now()) % 86400000)/(3600000))%>h  
                                    <%=Math.floor((((task.deadline - Date.now()) % 86400000) % (3600000))/(60000))%>m 
                                    <% } //endif 
                                    else { %>    
                                        <label class="label overdue" >Expired since:</label>                                            
                                        <%=Math.floor((Date.now() - task.deadline) / (86400000))%>d 
                                        <%=Math.floor(((Date.now() - task.deadline) % 86400000)/(3600000))%>h
                                        <%=Math.floor((((Date.now() - task.deadline) % 86400000) % (3600000))/(60000))%>m
                                    <% } %>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="assigned">
                                    <%=task.assignedTo.fullname()%>
                                </div>
                                <div class="deadline">

                                </div>
                            </div>
                        </div>
                        <% } //endfor %>
                        <% } //endif %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="slide-in-popover" data-open="0" id="slide-in-popover">
    <div class="background">

    </div>
    <div class="content-wrapper">
        <div class="content-show-task">
            <div class="top-bar" data-tpl="#{{id}} Task Details">#{{id}} Task Details</div>
            <div class="content">
                <div class="task-title">
                    {{title}}
                </div>
                <div class="task-infos">
                    <div class="grid">
                        <div class="row">
                            <div class="col-4">
                                <div class="label">Created By</div>
                                <div class="text created-by">{{label-text}}</div>
                            </div>
                            <div class="col-4">
                                <div class="label">Assigned To</div>
                                <div class="text assigned-to">{{label-text}}</div>
                                <select class="text assigned-to-change"  name="assigned-to-add">
                                        <% for(let index=0; index < users.length; ++index) { %>
                                            <option assigned-to-id="<%-users[index].id%>"><%=users[index].fullname()%></option>
                                        <% } //endfor %>
                                </select>
                            </div>
                            <div class="col-4">
                                <div class="label">Workflow Status</div>
                                <div class="text workflow-status">{{label-text}}</div>
                            </div>
                        </div>
                        <div class="row-1">
                            <div class="col-4">
                                <div class="show-deadline">
                                    <div class="label" id="deadline-label">Deadline</div>
                                    <div class="text deadline">{{label-deadline}}</div>
                                </div>
                                
                                <div class="change-deadline">
                                    <label for="deadline">Deadline</label>
                                    <input type="datetime-local" name="deadline" id="deadline-change">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description">
                    {{html}}
                </div>
            </div>
            <div class="bottom-bar">
                <button class="edit-btn">EDIT TASK</button>
            </div>
        </div>

        <div class="content-add-task">
                <div class="top-bar-add">
                    CREATE TASK
                </div>
                <div class="content-add">
                    <div class="task-title">
                        <input id="title-add" name="title" type="text" value="" placeholder="TITLE">
                    </div>
                    <div class="task-infos">
                        <div class="grid">
                            <div class="row">
                                <div class="col-4 assigned-to-wrapper">
                                    <label for="assigned-to-add">Assign new task to:</label>
                                    <select class="assigned-to-add" name="assigned-to-add">
                                        <% for(let index=0; index < users.length; ++index) { %>
                                            <option assigned-to-id="<%-users[index].id%>"><%=users[index].fullname()%></option>
                                        <% } //endfor %>
                                    </select>
                                </div>
                                <div class="col-4 deadline-wrapper">
                                    <label for="deadline">Deadline:</label>
                                    <input type="datetime-local" name="deadline" id="deadline-add">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="description-add">
                        {{html}}
                    </div>
                </div>
                <div class="bottom-bar-add">
                    <button class="create-task-btn">Create Task</button>
                </div>


        </div>
    </div>
</div>