<div class="projects-wrapper">
    <div class="scroll-wrapper">
        <% for(let index=0; index < projects.length; ++index) { %>
            <div class="project">
                <button id="btn-project-<%=projects[index].id%>"
                    class="project-button"
                    data-project-id="<%=projects[index].id%>" 
                    onclick="projectPressed(this); return false;">
                    <%-projects[index].name%>
                </button>
            </div>
            <% } //endfor %>
    </div>
</div>